In [1]:
import pandas as pd
import numpy as np

In [5]:
file = pd.read_csv("video_games_sales.csv")
file.head()

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [6]:
file['platform'].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [21]:
def platform_cleaning(i):
    if i == 'GB':
        return 'Game Boy'
    elif i == 'X360':
        return 'XBox 360'
    elif i == 'GBA':
        return 'Game Boy Advanced'
    elif i == 'XB':
        return 'XBox'
    elif i == '2600':
        return 'Atari 2600'
    elif i == 'XOne':
        return 'XBox One'
    elif i == 'GC':
        return 'Game Boy Color'
    elif i == 'GEN':
        return 'Genesis'
    elif i == 'DC':
        return 'Dreamcast'
    elif i == 'PSV':
        return 'PS5'
    elif i == 'SAT':
        return 'Sega Saturn'
    elif i == 'SCD':
        return 'Sega CD'
    elif i == 'NG':
        return 'Neo Geo'
    elif i == 'GG':
        return 'Game Gear'
    else:
        return i

In [9]:
file = file.drop(file.loc[file['platform'] == 'WS'].index) #droping WS because it is irrelevant for the analysis

In [10]:
file.reset_index(drop=True)

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16587,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16588,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16589,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16590,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16591,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [12]:
file = file.drop(file.loc[file['platform'] == 'TG16'].index) #droping TG16 because it is irrelevant for the analysis

In [15]:
file = file.drop(file.loc[file['platform'] == '3DO'].index) #droping 3DO because it is irrelevant for the analysis

In [18]:
file = file.drop(file.loc[file['platform'] == 'PCFX'].index) #droping PCFX because it is irrelevant for the analysis

In [22]:
file['platform'] = list(map(platform_cleaning, file['platform']))
file['platform'].unique()

array(['Wii', 'NES', 'Game Boy', 'DS', 'XBox 360', 'PS3', 'PS2', 'SNES',
       'Game Boy Advanced', '3DS', 'PS4', 'N64', 'PS', 'XBox', 'PC',
       'Atari 2600', 'PSP', 'XBox One', 'Game Boy Color', 'WiiU',
       'Genesis', 'Dreamcast', 'PS5', 'Sega Saturn', 'Sega CD', 'Neo Geo',
       'Game Gear'], dtype=object)

In [7]:
file['year'].unique()

array([2006., 1985., 2008., 2009., 1996., 1989., 1984., 2005., 1999.,
       2007., 2010., 2013., 2004., 1990., 1988., 2002., 2001., 2011.,
       1998., 2015., 2012., 2014., 1992., 1997., 1993., 1994., 1982.,
       2003., 1986., 2000.,   nan, 1995., 2016., 1991., 1981., 1987.,
       1980., 1983., 2020., 2017.])

In [26]:
file.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16586 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          16586 non-null  int64
 1   name          16586 non-null  object
 2   platform      16586 non-null  object
 3   year          16315 non-null  float64
 4   genre         16586 non-null  object
 5   publisher     16528 non-null  object
 6   na_sales      16586 non-null  float64
 7   eu_sales      16586 non-null  float64
 8   jp_sales      16586 non-null  float64
 9   other_sales   16586 non-null  float64
 10  global_sales  16586 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.5+ MB

In [23]:
file['genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [24]:
file.loc[file['genre'] == 'Misc']

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
15,16,Kinect Adventures!,XBox 360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22
60,61,Just Dance 3,Wii,2011.0,Misc,Ubisoft,6.05,3.15,0.00,1.07,10.26
68,69,Just Dance 2,Wii,2010.0,Misc,Ubisoft,5.84,2.89,0.01,0.78,9.52
...,...,...,...,...,...,...,...,...,...,...,...
16516,16519,DJ Max Technika Tune,PS5,2012.0,Misc,CyberFront,0.00,0.00,0.01,0.00,0.01
16519,16522,Bakumatsu Rock: Ultra Soul,PSP,2014.0,Misc,Marvelous Interactive,0.00,0.00,0.01,0.00,0.01
16523,16526,Style Book: Cinnamoroll,DS,2006.0,Misc,Namco Bandai Games,0.00,0.00,0.01,0.00,0.01
16536,16539,Patrician IV: Gold Edition,PC,2011.0,Misc,Kalypso Media,0.00,0.01,0.00,0.00,0.01
16542,16545,Mario & Luigi: Paper Jam & Mario Kart 7 Double...,3DS,2015.0,Misc,Nintendo,0.00,0.00,0.01,0.00,0.01

In [34]:
file[file['year'].isna()]

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
179,180,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
377,378,FIFA Soccer 2004,PS2,NaN,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49
431,432,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,1.86,1.02,0.00,0.29,3.17
470,471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
607,608,Space Invaders,Atari 2600,NaN,Shooter,Atari,2.36,0.14,0.00,0.03,2.53
...,...,...,...,...,...,...,...,...,...,...,...
16307,16310,Freaky Flyers,Game Boy Color,NaN,Racing,Unknown,0.01,0.00,0.00,0.00,0.01
16327,16330,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.00,0.00,0.01
16366,16369,Hakuouki: Shinsengumi Kitan,PS3,NaN,Adventure,Unknown,0.01,0.00,0.00,0.00,0.01
16427,16430,Virtua Quest,Game Boy Color,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01
16493,16496,The Smurfs,3DS,NaN,Action,Unknown,0.00,0.01,0.00,0.00,0.01

In [42]:
def cleaning_year(df, col1, col2):
    droping_conditions = (df[col1].isna()) & (df[col2] == 'Unknown')
    df.loc[droping_conditions, col1] = 'Drop'

In [31]:
file.drop_duplicates(inplace = True)

In [32]:
file.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16586 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          16586 non-null  int64
 1   name          16586 non-null  object
 2   platform      16586 non-null  object
 3   year          16315 non-null  float64
 4   genre         16586 non-null  object
 5   publisher     16528 non-null  object
 6   na_sales      16586 non-null  float64
 7   eu_sales      16586 non-null  float64
 8   jp_sales      16586 non-null  float64
 9   other_sales   16586 non-null  float64
 10  global_sales  16586 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.5+ MB

In [36]:
file.to_csv('video_game_sales_clean.csv')

In [43]:
cleaning_year(file, 'year', 'publisher')

In [50]:
file = file.drop(file.loc[file ['year'] == 'Drop'].index)

In [51]:
file.reset_index(drop=True)

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,Game Boy,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16478,16596,Woody Woodpecker in Crazy Castle 5,Game Boy Advanced,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16479,16597,Men in Black II: Alien Escape,Game Boy Color,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16480,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16481,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16482,16600,Spirits & Spells,Game Boy Advanced,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [64]:
def cleaning_year2(df, col1, col2):
    droping_conditions = (df[col1].isna()) & (df[col2].isna())
    df.loc[droping_conditions, col1] = 'Remove'

In [60]:
file[file['year'].isna()]

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
179,180,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
377,378,FIFA Soccer 2004,PS2,NaN,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49
431,432,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,1.86,1.02,0.00,0.29,3.17
470,471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
607,608,Space Invaders,Atari 2600,NaN,Shooter,Atari,2.36,0.14,0.00,0.03,2.53
...,...,...,...,...,...,...,...,...,...,...,...
16191,16194,Homeworld Remastered Collection,PC,NaN,Strategy,NaN,0.00,0.01,0.00,0.00,0.01
16198,16201,AKB1/48: Idol to Guam de Koishitara...,XBox 360,NaN,Misc,NaN,0.00,0.00,0.01,0.00,0.01
16229,16232,Brothers in Arms: Furious 4,XBox 360,NaN,Shooter,NaN,0.01,0.00,0.00,0.00,0.01
16246,16249,Agarest Senki: Re-appearance,PS3,NaN,Role-Playing,Idea Factory,0.00,0.00,0.01,0.00,0.01
16327,16330,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.00,0.00,0.01

In [66]:
cleaning_year2(file, 'year', 'platform')

In [67]:
file.loc[file ['year'] == 'Remove']

Empty DataFrame
Columns: [rank, name, platform, year, genre, publisher, na_sales, eu_sales, jp_sales, other_sales, global_sales]
Index: []

In [71]:
file.reset_index(drop=True)

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,Game Boy,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16478,16596,Woody Woodpecker in Crazy Castle 5,Game Boy Advanced,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16479,16597,Men in Black II: Alien Escape,Game Boy Color,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16480,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16481,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16482,16600,Spirits & Spells,Game Boy Advanced,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [72]:
file.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16483 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          16483 non-null  int64
 1   name          16483 non-null  object
 2   platform      16483 non-null  object
 3   year          16315 non-null  object
 4   genre         16483 non-null  object
 5   publisher     16425 non-null  object
 6   na_sales      16483 non-null  float64
 7   eu_sales      16483 non-null  float64
 8   jp_sales      16483 non-null  float64
 9   other_sales   16483 non-null  float64
 10  global_sales  16483 non-null  float64
dtypes: float64(5), int64(1), object(5)
memory usage: 1.5+ MB

In [179]:
file[file['year'].isna()]

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
2113,2115,Air-Sea Battle,Atari 2600,NaN,Shooter,Atari,0.91,0.06,0.00,0.01,0.98
2134,2136,Yakuza 4,PS3,NaN,Action,Sega,0.15,0.14,0.63,0.05,0.97
2528,2530,Shaun White Snowboarding,XBox 360,NaN,Sports,Ubisoft,0.48,0.26,0.00,0.08,0.82
2586,2588,PES 2009: Pro Evolution Soccer,PSP,NaN,Sports,Konami Digital Entertainment,0.04,0.33,0.26,0.17,0.80
2947,2949,Test Drive Unlimited 2,XBox 360,NaN,Racing,Atari,0.30,0.32,0.00,0.07,0.69
...,...,...,...,...,...,...,...,...,...,...,...
16191,16194,Homeworld Remastered Collection,PC,NaN,Strategy,NaN,0.00,0.01,0.00,0.00,0.01
16198,16201,AKB1/48: Idol to Guam de Koishitara...,XBox 360,NaN,Misc,NaN,0.00,0.00,0.01,0.00,0.01
16229,16232,Brothers in Arms: Furious 4,XBox 360,NaN,Shooter,NaN,0.01,0.00,0.00,0.00,0.01
16246,16249,Agarest Senki: Re-appearance,PS3,NaN,Role-Playing,Idea Factory,0.00,0.00,0.01,0.00,0.01
16327,16330,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.00,0.00,0.01

In [165]:
file.iloc[2410, 3] = 2011

In [166]:
file.iloc[2417, 3] = 2011

In [78]:
file.iloc[179, 3] = 2003

In [82]:
file.iloc[377, 3] = 2003

In [86]:
file.iloc[431, 3] = 2008

In [89]:
file.iloc[470, 3] = 2005

In [92]:
file.iloc[607, 3] = 1980

In [95]:
file.iloc[624, 3] = 2007

In [98]:
file.iloc[649, 3] = 2001

In [101]:
file.iloc[652, 3] = 2008

In [103]:
file.iloc[711, 3] = 2006

In [106]:
file.iloc[782, 3] = 2007

In [108]:
file.iloc[1126, 3] = 2010

In [110]:
file.iloc[1133, 3] = 2007

In [113]:
file.iloc[1303, 3] = 1998

In [116]:
file.iloc[1433, 3] = 2011

In [118]:
file.iloc[1498, 3] = 2008

In [121]:
file.iloc[1513, 3] = 1980

In [123]:
file.iloc[1585, 3] = 1977

In [128]:
file.iloc[1696, 3] = 2002

In [132]:
file.iloc[1836, 3] = 2007

In [136]:
file.iloc[1989, 3] = 1999

In [140]:
file.iloc[2018, 3] = 1997

In [150]:
file.iloc[2085, 3] = 2011

In [149]:
file.iloc[2143, 3] = 2011

In [178]:
file.iloc[2829, 3] = 2011

In [180]:
file = file.dropna()

In [182]:
file.reset_index(drop = True)

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,Game Boy,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16298,16596,Woody Woodpecker in Crazy Castle 5,Game Boy Advanced,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16299,16597,Men in Black II: Alien Escape,Game Boy Color,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16300,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16301,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16302,16600,Spirits & Spells,Game Boy Advanced,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [186]:
file.head()

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,Game Boy,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [187]:
file.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16303 entries, 0 to 16597
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          16303 non-null  object
 1   platform      16303 non-null  object
 2   year          16303 non-null  object
 3   genre         16303 non-null  object
 4   publisher     16303 non-null  object
 5   na_sales      16303 non-null  float64
 6   eu_sales      16303 non-null  float64
 7   jp_sales      16303 non-null  float64
 8   other_sales   16303 non-null  float64
 9   global_sales  16303 non-null  float64
dtypes: float64(5), object(5)
memory usage: 1.4+ MB

In [188]:
file.to_csv('clean_game_sales.csv', index = False)